body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}
h1{ 
    font-size: 30px;
    color: palevioletred;
}
h2{
    font-size: 20px;
}
.half-width{

    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
   
}
.half-width img{
    width:100%;
}
.banner{
    margin:0px 60px 0px 60px;
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
section{
    height: 400px;
   
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(hotpink,deeppink);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
.biography{
    margin:0px 60px 0px 60px;
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;

}
p{
    text-align: justify;
}
.footer-head{
    text-align: center;
    color: black;
}
.footer-images{
    width: 20%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    background-position: center;
    margin-left: 10%;
    
  
  }


.experience-area{
    margin:0px 60px 0px 60px ;
    background-image: url("images/latest-work-bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.half-width2 img{
    width:100%;
}
.client-says{
    text-align: center;
    color: black;
}
h5{
    color: lightslategray;

}
.center-text{
    text-align: center;
}
.end{
background-image: url("images/footer-bg.png");
margin:0px 60px 0px 60px;
background-repeat: no-repeat;
background-size: 100%;
}
.pink-box{

  width: 400px;
  height: 90px;
  background-color: palevioletred;
  background-position: center;
  border-radius: 5px;
  margin-left: 35%;
}
.p2{
    text-align: center;
    font-size: 15px;
    color: lightgrey;
    margin-top: 200px;

}
.pink-box-text{
    text-align: center;
    color: white;
}
.pink-box-text-h3{
    font-size: 15px;
}

.contact-img{
   
    border-radius: 4px;
   margin-left: 20%;
    width: 50px;
    height: 50px;
    float: left;

}